@font-face {
  font-family: 'Satoshi-Variable';
  src: url('fonts/Full Font Package/Satoshi-Variable.woff2') format('woff2'),
       url('fonts/Full Font Package/Satoshi-Variable.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'ApocRevelations-Regular';
  src: url('fonts/ApocRevelations-Regular.woff2') format('woff2'),
       url('fonts/ApocRevelations-Regular.woff') format('woff');
  font-style: normal;
}

:root {
  --main-color: #87A7B4;
  --accent-color: #FFC107;
  --background-color: #f5f4f3;
  --container-background: #FFFFFF;
  --page-background: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Satoshi-Variable', sans-serif;
  font-weight: 450;
  font-size: 16px;
  background-color: var(--page-background);
  scroll-behavior: smooth;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

body.fade-in {
  opacity: 1;
}

.container {
  background-color: var(--background-color);
  margin: 0 auto;
  padding: 0;
  border-radius: 0 0 20px 20px;
}

header {
  background-color: transparent;
  padding: 30px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header-text {
  mix-blend-mode: exclusion;
}

.branding {
  display: flex;
  align-items: center;
  padding-left: 22px; 
}

.branding h1 {
  font-family: 'Satoshi-Variable', sans-serif;
  font-weight: 450;
  font-size: 16px;
  margin-right: 20px;
}

.branding h1 span {
  color: var(--main-color);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 12px;
}

.nav-list li {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.1s;
}

.nav-list li:hover {
  color: var(--main-color);
}

.nav-list li:before {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #004cff;
  transition: left 0.2s, width 0.2s;
}

.nav-list li:hover:before {
  left: 0;
  width: 100%;
}

.nav-list a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  padding: 8px;
  transition: color 0.2s;
}

.nav-list a:hover {
  color: inherit;
}

.message {
  padding-left: 40px;
  padding-top: 100px;
  font-size: 24px;
  font-weight: 450;
}

.large-black-box {
  margin-top: 10px;
  width: 100%;
  height: auto;
  background-color: black;
  border-radius: 0 0 15px 15px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.sectiontitle {
  font-family: 'ApocRevelations-Regular', sans-serif;
  font-weight: 200;
  font-size: 80px;
  color: white;
  margin-top: 40px;
  margin-bottom: -10px;
  text-align: left;
}

.projects-showcase {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: -10px;
  overflow: hidden;
}

.projects-container {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.projects-container::-webkit-scrollbar {
  display: none;
}

.project-card {
  position: relative;
  width: 550px;
  height: 450px;
  border-radius: 15px;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.project-hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.project-card:hover .project-hover-image {
  opacity: 1;
}

.arrow {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

.card-container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.card-container .caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  color: white;
  padding: 5px 10px;
  font-family: 'Satoshi-Variable', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.project-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.project-link:hover {
  cursor: pointer;
}

body {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

body.fade-in {
  opacity: 1;
}

